# why sudo? see the issue at: https://github.com/travis-ci/travis-ci/issues/8836#issuecomment-356362524
sudo: required
language: node_js
cache:
  yarn: true
notifications:
  email: false
node_js:
  - node
before_script: # Using xvfb to Run Tests That Require a GUI such as chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give xvfb some time to start
script:
  - npm run ci
after_success:
  - npm run semantic-release
