<mat-card class="book-card">
  <mat-card-header>
    <img mat-card-avatar src="{{ book?.smallThumbnail }}">
    <mat-card-title>{{ book?.title }}</mat-card-title>
    <mat-card-subtitle>by {{ book?.authors }}  </mat-card-subtitle>
  </mat-card-header>
  <hr>
  <div class="book-card-metadata">
    <dl>
      <dt *ngIf="book?.subTitle">subTitle</dt>
      <dd *ngIf="book?.subTitle">{{ book?.subTitle }}</dd>

      <dt>Categories</dt>
      <dd>
        <span *ngFor="let category of book?.categories; let i= index">
          {{i+1}}. {{category}}
        </span>
      </dd>

      <dt>Published Date</dt>
      <dd>{{ book?.publishDate }}</dd>

      <dt>Publisher</dt>
      <dd>{{ book?.publisher }}</dd>
    </dl>
  </div>

  <img mat-card-image src="{{ book?.thumbnail }}" alt="book cover image">

  <mat-card-content>
    <p [innerHtml]="book?.description"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!hasBook(book)"
            (click)="addBook(book)">
            Add To Library
    </button>
    <button mat-button *ngIf="hasBook(book)"
            (click)="removeBook(book)">
            Remove From Library
    </button>

  </mat-card-actions>
</mat-card>
